<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Générateur de Citations</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<header>
  <nav class="bg-indigo-600 text-white p-4 text-center">
  <a href="{% url 'citation_aleatoire' %}" class="mr-4 hover:underline">Accueil</a>
  <a href="{% url 'ajouter_citation' %}" class="hover:underline">Ajouter une citation</a>
  <a href="{% url 'ajouter_theme' %}" class="hover:underline">Ajouter un theme</a>
  <a href="{% url 'ajouter_auteur' %}" class="hover:underline">Ajouter un auteur</a>
</nav>
</header>
<body class="bg-gray-100 text-gray-800">

  {% block content %}{% endblock %}
</body>
</html>
